<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="text-center col-md-offset-2 col-md-8">
        <form #taskform="ngForm" class="form-inline" (ngSubmit)="AddTask(taskform)">
          <div class="form-group">
            <div class="col-md-4">
              <label for="taskname" class="control-label">Enter Task :</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="taskname" [(ngModel)]="Item.title" required>
            </div>
            <div *ngIf="addButton" class="col-md-2">
              <button type="submit" class="btn btn-success">Add</button>
            </div>
            <div *ngIf="saveButton" class="col-md-2">
              <button type="button" class="btn btn-success" (click)=EditTask(taskform)>Save</button>
            </div>
          </div>
          <p class="text-danger">{{ErrorMessage}}</p>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="added" class="alert alert-success">
  <strong>SUCCESS! </strong>{{Message}}</div>
<div *ngIf="deleted" class="alert alert-danger">
  <strong>WARNING!</strong>{{DeleteMessage}}</div>
<div class="container">
  <div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Done</th>
                <th>Edit Action</th>
                <th>Delete Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let item of Items">
                <td>{{item.title}}</td>
                <td><input type="checkbox" name="taskStatus" [checked] ="item.completed" (click)="UpdateTaskStatus(item)"></td>
                <td><input type="button" class="btn btn-primary" value="Edit" (click)="Edit(item)"></td>
                <td><input type="button" class="btn btn-danger" value="Delete" (click)="DeleteTask(item.id)"></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
